body{
    background-color: lightblue;
}
main{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.shoppingList{
    display: flex;
    justify-items: center;
    align-items:center;
    min-height: 100px;
    min-width: 250px;
    color: darkgray;
    font-family: "Bookman Old Style";
    font-size: 50px;
    background-color: darkslategray;
    border-radius: 8px;
}
input{
    min-height: 50px;
    border-radius: 8px;
    border-color: green;
}
button{
    margin: 50px;
    border-radius: 6px;
    min-height: 50px;
}